<h1 authenticated>Board title: {{ (board | async)?.title }}</h1>

<ul [dragula]="'listBag'">
  <li class="list" *ngFor="let list of lists | async; let column = index">
    <span class="handle">⬍</span> List: {{list | json}}
    <ul [dragula]="'taskBag'" [attr.data-key]="list.$key">
      <li class="task" *ngFor="let task of tasks | async | inList:list.$key; let row = index" [attr.data-key]="task.$key">
        Task: {{task | json}}
      </li>
    </ul>
    <ul><li class="invalid"><form (submit)="addTask(list.$key, input)"><input #input type="text" placeholder="add task"></form></li></ul>
  </li>
</ul>
<ul><li><form (submit)="addList(input)"><input #input type="text" placeholder="add list"></form></li></ul>